.lang-switch {
    display: none;
}

.profile {
    
}

.profile_inner span {
    max-width: 340px;
}

.profile_inner img {
    margin-bottom: 20px;
    border-radius: 8px;
}

.footer {
    display: none;
}