.lang-switch {
    display: none;
}

.profile {
    
}

.profile_inner span {
    max-width: 340px;
}

.profile_inner img {
    margin-bottom: 20px;
    border-radius: 8px;
}

.footer {
    
}

body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.post-content {
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
}